<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>2012選舉資訊</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }

      .navbar {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
      }

      #input-box {
        background: #999;
        padding-top: 39px;
        padding-bottom: 29px;
      }
      #input-box input{
        padding: 22px 24px 23px 24px;
      }

      p {
          word-break: break-all;
      }

      .nearby {
        display: inline-block;
        white-space: normal;
        text-align: left;
      }

      .progress {
        margin-top: 4px;
      }

      .progress-bar-def {
        background-color: #bbb;
      }

      .label-angel {
        background: #7DB1E0;
        color: #FDFDFD;
      }
    </style>
  </head>
  <body ng-cloak ng-app="app" ng-controller="MainController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span >2012選舉資訊</span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="http://creativecommons.tw/cc0" target="_blank">License: CC0</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="input-box" ng-hide="type=='hospital'">
      <div class="container">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="query" id="search" placeholder="請輸入搜尋的條件（ex. 縣市、政黨）" ng-change="sent(query)" ng-keypress="enter($event, query)" />
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row" ng-show="query">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>縣市</th>
                <th>區別</th>
                <th>里別</th>
                <th>資訊</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in data | advancefilter: query">
                <td>
                  {{row['縣市']}}
                </td>
                <td>
                  {{row['區別']}}
                </td>
                <td>
                  {{row['里別']}}
                </td>
                <td>
                  總統:
                  <span class="label label-primary">{{row['總統']['國民黨']}}</span>
                  <span class="label label-success">{{row['總統']['民進黨']}}</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: {{row['總統']['國民黨P']}}%">
                      <span>{{row['總統']['國民黨P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{row['總統']['其他政黨P']}}%">
                      <span>{{row['總統']['其他政黨P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{row['總統']['用餘票數P']}}%">
                      <span>{{row['總統']['用餘票數P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-success" style="width: {{row['總統']['民進黨P']}}%">
                      <span>{{row['總統']['民進黨P'] | percentage}}%</span>
                    </div>
                  </div>
                  政黨:
                  <span class="label label-primary">{{row['立委政黨']['國民黨']}}</span>
                  <span class="label label-success">{{row['立委政黨']['民進黨']}}</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: {{row['立委政黨']['國民黨P']}}%">
                      <span>{{row['立委政黨']['國民黨P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-info progress-bar-striped" style="width: {{row['立委政黨']['其他政黨P']}}%">
                      <span>{{row['立委政黨']['其他政黨P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{row['立委政黨']['用餘票數P']}}%">
                      <span>{{row['立委政黨']['用餘票數P'] | percentage}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-success" style="width: {{row['立委政黨']['民進黨P']}}%">
                      <span>{{row['立委政黨']['民進黨P'] | percentage}}%</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script>
angular
.module('app', [])
.filter('advancefilter', [
  '$filter',
  function($filter) {
    return function(data, text) {
      if (!text) {
        return [];
      }

      var textArr = text.split(' ');

      angular.forEach(textArr, function(text){
        if (text) {
          data = data.filter(function(item) {
            return item.keyword.search(text) > -1;
          });
        }
      });

      return data;
    };
  }
])
.filter('percentage', [
  '$filter',
  function($filter) {
    return function(data) {
      return Math.round(data * 100) / 100;
    };
  }
])
.controller('MainController',
  function ($http, $scope) {
    $scope.data = [];

    $http.get('./total.json').success(function (data) {
      $scope.data = data;
      $scope.data.forEach(function(item) {
        item.keyword = item['縣市'] + item['區別'] + item['里別'];
        item['總統']['國民黨P'] = item['總統']['國民黨'] / item['總統']['選舉人數'] * 100;
        item['總統']['民進黨P'] = item['總統']['民進黨'] / item['總統']['選舉人數'] * 100;
        item['總統']['其他政黨P'] = item['總統']['其他政黨'] / item['總統']['選舉人數'] * 100;
        item['總統']['用餘票數P'] = 100 - item['總統']['國民黨P'] - item['總統']['民進黨P'] - item['總統']['其他政黨P'];
        item['立委政黨']['國民黨P'] = item['立委政黨']['國民黨'] / item['立委政黨']['選舉人數'] * 100;
        item['立委政黨']['民進黨P'] = item['立委政黨']['民進黨'] / item['立委政黨']['選舉人數'] * 100;
        item['立委政黨']['其他政黨P'] = item['立委政黨']['其他政黨'] / item['立委政黨']['選舉人數'] * 100;
        item['立委政黨']['用餘票數P'] = 100 - item['立委政黨']['國民黨P'] - item['立委政黨']['民進黨P'] - item['立委政黨']['其他政黨P'];
      });
    });

    $('#search').focus();
});

      //@ sourceURL=pen.js
</script>
  </body>
</html>
